.DS_store
node_modules
*.txt
.env
Microsoft\\VisualStudio\ Services/
qBittorrent/
configstore/
stetic/
xbuild/
zed/
svim/
screensavers/
iterm2/
.mono/
.zsh-vi-mode/
sketchybar_backup/
super-figure/


